#debug_panel
    if debug
      link(rel='stylesheet', href='/stylesheets/debug/debug.css')
      link(rel='stylesheet', href='/stylesheets/debug/toggle.css')
      link(rel='stylesheet', href='/stylesheets/debug/custom.css')
    .main
        p Theres some things here
    .toggle
        i.fas.fa-edit