div.layout#about
	.content
		.body
			.title About
			hr
			p About this page page page about page is this about page is about About this page page page about page is this about page is about About this page page page about page is this about page is about
			p About this page page page about page is this about page is about About this page page page about page is this about page is about About this page page page about page is this about page is about
			img(src="/images/logo.svg" width="140px")
			p About this page page page about page is this about page is about About this page page page about page is this about page is about About this page page page about page is this about page is about
			p About this page page page about page is this about page is about About this page page page about page is