div.navbar
	a.nav.logo(href="#" layout="assegai")
		img(src="/images/logo.svg" width="50px" height="50px")
		span.title Assegai
	.subnav
		a.nav(href="#about" layout="about")
			span About
		a.nav(href="#galery" layout="galery")
			span Gallery
		a.nav(href="#contact" layout="contact")
			span Contact
	#burger
