div.navbar
	a.nav.logo(href="#assegai")
		img(src="https://via.placeholder.com/50")
		span.title Assegai
	div.pageLabel(_activetab="")
	.subnav
		a.nav(href="#about")
			span About
		a.nav(href="#galery")
			span Gallery
		a.nav(href="#contact")
			span Contact
	#burger
