doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/page.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    link(rel='stylesheet', href='/stylesheets/landingcard.css')
    link(rel='stylesheet', href='/stylesheets/about.css')
    script(crossorigin src="https://unpkg.com/react@16/umd/react.development.js")
    script(crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js")
    meta( name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon"
      type="image/png"
      href="/images/logo.png")
  body
    #app
    block error
    block landing
    include includes/navbar.pug
    include includes/about.pug

    div.layout#galery galery
    div.layout#contact contact
  script(src="/javascript/rjsa.js")
  script(src="/javascript/burger.js")
  script(src="/javascript/layout.js")
