extends layout

block content
	div.section(__name="page_1")
		header
			span.pad(__name="page_1") ----
			div.head block::Header
		div.body block::body

		footer
			div.head block::Footer
	div.section(__name="page_2")
		header
			span.pad(__name="page_2") ----
			div.head block::Header
		div.body block::body

		footer
			div.head block::Footer
